<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] %highlight(%-5level) %cyan(%logger) - %msg %n</pattern>
    </encoder>
  </appender>

  <!-- Suppress reporting of https://github.com/http4s/http4s/issues/2835 -->
  <logger name="org.http4s.blaze" level="OFF" />
  <logger name="org.http4s.blazecore.IdleTimeoutStage" level="OFF" />
  <logger name="org.http4s.blazecore.websocket.Http4sWSStage" level="OFF" />

  <!-- These tests provoke errors that end up being logged, so turn that off. -->
  <logger name="test.MutationSuite" level="OFF" />
  <logger name="test.targets.ScienceTargetMutationSuite" level="OFF" />
  <logger name="test.targets.ScienceTargetsMutationSuite" level="OFF" />
  <logger name="test.targets.TargetRenameMutationSuite" level="OFF" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
