name: Test Migrations Against Heroku Backups

on:
  pull_request:
    paths:
      - 'modules/service/src/main/resources/db/migration/**'
  workflow_dispatch:

env:
  HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  PG_HOST: localhost
  PG_USER: jimmy
  PG_DATABASE: lucuma-odb
  PGPASSWORD: banana

jobs:
  test-migrations:
    name: migration with db from ${{ matrix.environment }}
    runs-on: ubuntu-22.04
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        environment: [dev, staging, production]

    steps:
      - name: Checkout current branch
        uses: nschloe/action-cached-lfs-checkout@v1
        with:
          fetch-depth: 0

      - name: Setup Java (temurin@17)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: sbt

      - name: Setup sbt
        uses: sbt/setup-sbt@v1

      - name: Cache pgsql
        id: cache-pg
        uses: actions/cache@v4
        with:
          path: /usr/lib/postgresql/15
          key: pg-client-15-jammy

      - name: Install PostgreSQL client tools
        if: steps.cache-pg.outputs.cache-hit != 'true'
        run: |
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo apt-get update
          sudo apt-get install -y postgresql-client-15

      - name: Add PostgreSQL to PATH
        run: echo "/usr/lib/postgresql/15/bin" >> $GITHUB_PATH

      - name: Cache Heroku CLI
        id: cache-heroku
        uses: actions/cache@v4
        with:
          path: /usr/local/lib/heroku
          key: heroku-cli-v1

      - name: Install Heroku CLI
        if: steps.cache-heroku.outputs.cache-hit != 'true'
        run: curl https://cli-assets.heroku.com/install.sh | sh

      - name: Add Heroku to PATH
        run: echo "/usr/local/lib/heroku/bin" >> $GITHUB_PATH

      - name: Set up cert permissions
        run: |
          chmod 600 test-cert/server.key
          sudo chown 999 test-cert/server.key

      - name: Run migration against ${{ matrix.environment }}
        timeout-minutes: 15
        run: ./populate-db-from-heroku.sh ${{ matrix.environment }} --test
